.anchor {
	display: block;
	position: relative;
	top: -30px;
	visibility: hidden;
}

.site-icon {
	height:30px;
}

.personal-photo {
	max-height: 500px;
	margin: auto;
}

.name {
	text-decoration: underline;
	color: blue;
}

.page-sort {
	padding-top: 16px;
}

.social-container{
	margin: 20px;
}

.social-button {
	width: auto;
}

.welcome {
	margin: 40px 10px 10px 10px;
	background-color: #eee;
}
.welcome p {
	font-size: 14px;
}

.welcome-text {
	margin: 10px;
}

.vert-pad-20 {
	height: 20px;
}