<link rel="stylesheet" type="test/css" href="resources/css/navbar.css" />
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" ng-repeat="i in [1,2,3]"></span>
      </button>
      <a class="navbar-brand" href="{{siteLink}}"><img class="navbar-icon site-icon" ng-src="{{siteIcon}}"> {{siteName}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in navbar.left"><a href="" ng-click="gotoElement(item.name)">{{item.label}}</a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" ng-hide="searchQuery.length > 0"><span class="glyphicon glyphicon-search"></span></div>
            <div class="input-group-addon btn-danger" ng-show="searchQuery.length > 0" ng-click="search('')"><span class="glyphicon glyphicon-remove"></span></div>
            <input class="form-control" type="text" placeholder="Search Here" ng-model="searchQuery" ng-keyup="keyUp($event)">
          </div>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in navbar.right"><a href="{{item.link}}">{{item.label}}</a></li>
      </ul>
      
    </div>
  </div>
</div>