<div class="anchor" id="projects"></div>
<div class="row" ng-show="filteredProjects.length > 0">
	<div class="page-header">
		<div class="row">
			<div class="col-md-9">
	  			<h2>Projects <small> - a small collection of projects</small></h2>
	  		</div>
	  		<div class="col-md-3">
		  		<div class="page-sort">
		  			<div class="input-group">
		  				<div class="input-group-addon">Sort By: </div>
						<select class="form-control" ng-model="projects.sortField" ng-options="sortField.field as sortField.label for sortField in projects.sortFields"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="project in filteredProjects = (projects.projects | filter:searchQuery | orderBy:projects.sortField)" class="col-md-6 col-xs-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h2 class="panel-title">{{project.name}}<em class="pull-right">{{project.date | date : 'MMMM yyyy'}}</em></h2>
		  	</div>
			<div class="panel-body">
				{{project.description}}
			</div>
			<div class="panel-body">
				<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="technology in project.technologies">
			  	 	<div 
			  	 		class="thumbnail" 
			  	 		ng-click="search(technology)"
						popover="{{projects.technologies[technology].name}}"
						popover-placement="bottom"
						popover-trigger="mouseenter"
			  	 	>
			      		<img 
			      			ng-src="{{projects.technologies[technology].imgSrc}}"
			      			style="max-height:80px"
			      		>
			    	</div>
			  	</div>
		  	</div>
		</div>
	</div>
</div>