<div class="anchor" id="projects"></div>
<div class="row">
	<div class="page-header">
		<h2>Projects <small> - a collection of software development projects undertaken by the author</small>
  		<span class="pull-right">
			<div class="btn-group">
			  <button type="button" class="btn btn-default" ng-click="projects.order('date')">Date</button>
			  <button type="button" class="btn btn-default" ng-click="projects.order('name')">Name</button>
			</div>
		</span>
		</h2>
	</div>
	 <!-- | orderBy:project[projects.sort] -->
	<div ng-repeat="project in projects.projects | filter:searchQuery" class="col-md-6">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h2 class="panel-title">{{project.name}}<em class="pull-right">{{project.date | date : 'MMMM yyyy'}}</em></h2>
		  	</div>
			<div class="panel-body">
				{{project.description}}
			</div>
			<div class="panel-body">
				<div class="col-md-3 col-xs-6" ng-repeat="technology in project.technologies">
			  	 	<div 
			  	 		class="thumbnail" 
			  	 		ng-click="projects.search(technology)"
						popover="{{projects.technologies[technology].name}}"
						popover-placement="bottom"
						popover-trigger="mouseenter"
			  	 	>
			      		<img 
			      			ng-src="{{projects.technologies[technology].imgSrc}}"
			      			style="max-height:80px"
			      		>
			    	</div>
			  	</div>
		  	</div>
		</div>
	</div>
</div>