<div class="anchor" id="technologies"></div>
<div class="row" ng-show="filteredTechnologies.length > 0">
	<div class="page-header">
		<div class="row">
			<div class="col-md-9">
	  			<h2>Technologies <small> - the technologies used in the above projects</small></h2>
	  		</div>
	  		<div class="col-md-3">
		  		<div class="page-sort">
		  			<div class="input-group">
		  				<div class="input-group-addon">Sort By: </div>
						<select class="form-control" ng-model="technologies.sortField" ng-options="sortField.field as sortField.label for sortField in technologies.sortFields"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="technology in filteredTechnologies = (technologies.technologies | filter:searchQuery | orderBy:technologies.sortField)" class="col-md-4 col-sm-6 col-xs-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">{{technology.name}}</h3>
		  	</div>
			<div class="panel-body">
				<div class="col-md-6 col-xs-4" style="max-height:180px">
			  	 	<div class="thumbnail">
			      		<img ng-src="{{technology.imgSrc}}"/>
			    	</div>
			  	</div>
			  	<div class="col-md-6 col-xs-8">
			  		<p>{{technology.description}}</p>
			  	</div>
		  	</div>
		</div>
	</div>
</div>